
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>RasPi Game</title>

  <link rel="stylesheet" href="static/style.css">

</head>

<body>
 <p> Welcome! This is the instructions on how to play this game.  </p>
 <p>In this game you are the red dot. Your target is the green dot. You are trying to 'eat' the greed dot, but it wont be so easy! The green dot moves around so you will need to use the joy stick to move around to catch the green dot. Once you catch it you win! Try to catch your food as quick as possible! </p>
 <p>Press the start button to start the game!</p>
 <p> currently there is bug with the game... it starts then ends the game even though end game conditons are not met</p>
 <button> <a href = '/game' >START</button>
 
    <br>



</body>
</html>